/*================ common styles=================== */

:root {
   --roboto-font: 'Roboto', sans-serif;
   --raleway-font: 'Raleway', sans-serif;
   --font-size-subtitel: 36px;
   --font-size-logo: 18px;
   --font-size-min-titel: 20px;
   --navyblue: #2E2F42;
   --iris: #4D5AE5;
   --white: #FFF;
   --slate: #434455;
   --cloud: #F4F4FD;
   --line-height-standart: 1.5;
   --cornflower: #E7E9FC;
   --ocean: #404BBF;
}

.sub-titel {
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-transform: capitalize;
   color: var(--navyblue);
}

.list {
   list-style: none;
}

.linck {
   color: currentColor;
   text-decoration: none;
}

.button {
   cursor: pointer;
}

.text {}

.heading {
   font-style: var(--font-size-min-titel);
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   color: var(--navyblue);
}



.logo {
   font-family: var(--raleway-font);
   color: var(--iris);
   font-size: var(--font-size-logo);
   font-weight: 800;
   line-height: 1.16;
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

body {
   font-family: var(--roboto-font);
   font-weight: 400;
   font-size: 16px;
   color: var(--slate);
   background-color: var(--white);
   line-height: var(--line-height-standart);
   letter-spacing: 0.32px;
}

/*================ header section=================== */

.header-section {}

.header-logo-linck {}

.header-logo-wrap {
   color: var(--navyblue);
}

.header-list {}

.header-list-item {}

.header-list-linck {
   font-weight: 500;
   color: var(--navyblue);
}

.address-block {}

.address-list {}

.address-list-item {}

.address-list-linck {}

.header-list-linck:hover,
.header-list-linck:focus,
.address-list-linck:hover,
.address-list-linck:focus {
   color: var(--ocean);
}

/*================ business section and main =================== */

.main-section {}

.business-section {
   background-color: var(--navyblue);
}

.business-titel {
   font-size: 56px;
   font-weight: 700;
   line-height: 1.43;
   letter-spacing: 1.12px;
   color: var(--white);
}

.business-button {
   font-weight: 500;
   letter-spacing: 0.64px;
   color: var(--white);
   border-radius: 4px;
   background-color: var(--iris);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.business-button:hover,
.business-button:focus {
   background-color: var(--ocean);
}

/*================description section=================== */

.description-section {}

.description-list {}

.description-list-item {}

.description-list-titel {}

.description-list-text {}

/*================we doing section=================== */

.we-doing-section {}

.we-doing-sub-titel {}

.we-doing-list {}

.we-doing-list-item {}

.we-doing-list-img {}

/*================team section=================== */

.team-section {
   background-color: var(--cloud);
}

.team-titel {}

.team-list {}

.team-list-item {
   background: var(--white);
}

.team-list-img {}

.team-list-titel {}

.team-list-text {}

/*================footer section=================== */

.footer-section {
   background-color: var(--navyblue);
}

.footer-logo {}

.footer-logo-wrap {
   color: var(--cloud);
}

.footer-text {
   color: var(--cloud);
}


/* ------------section portfolio--------------- */

.main-section-portfolio {}

/* ------------gallery filter--------------- */
.portfolio-filter-list {}

.filter-list-item {}

.filter-list-button {
   font-weight: 500;
   border-radius: 4px;
   border: 1px solid var(--cornflower);
   background-color: var(--cloud);
   color: var(--iris);
   letter-spacing: 0.64px;
}


.filter-list-button:hover,
.filter-list-button:focus {
   background-color: var(--ocean);
   color: var(--white);
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* ------------gallery-section--------------- */

.gallery-section {}

.gallery-list {}

.gallery-list-item {}

.gallery-list-linck {}

.gallery-list-img {}

.gallery-list-titel {}

.gallery-list-text {}